@font-face {
    font-family: 'nunitolight';
    src: url('../fonts/nunito-light-webfont.woff2') format('woff2'),
         url('../fonts/nunito-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoregular';
    src: url('../fonts/nunito-regular-webfont.woff2') format('woff2'),
         url('../fonts/nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitobold';
    src: url('../fonts/nunito-bold-webfont.woff2') format('woff2'),
         url('../fonts/nunito-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitosemibold';
    src: url('../fonts/nunito-semibold-webfont.woff2') format('woff2'),
         url('../fonts/nunito-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'nunitoblack';
    src: url('../fonts/nunito-black-webfont.woff2') format('woff2'),
         url('../fonts/nunito-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nunitoitalic';
    src: url('../fonts/nunito-italic-webfont.woff2') format('woff2'),
         url('../fonts/nunito-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nunitobold_italic';
    src: url('../fonts/nunito-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/nunito-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}






@font-face {
    font-family: 'helveticaregular';
    src: url('../fonts/helvetica-webfont.woff2') format('woff2'),
         url('../fonts/helvetica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticabold';
    src: url('../fonts/helvetica-bold-webfont.woff2') format('woff2'),
         url('../fonts/helvetica-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}

body { background:#fff;}
.header { border-bottom:2px solid #E9E9E9; background:#E5E5E5;}


.search-box {}

.main-search {width:700px; padding-top:9px; padding-left:20px; padding-bottom:9px; padding-right:50px;}
.bg-header { background:#05061F;}
.top-nav { background:#05061F;}

.search-box button {
    text-indent: -7777px;
    cursor: pointer;
	
	position: absolute;
top: 8px;
right: 38px;
width: 48px;
height: 46px;
padding: 0;
text-indent: -7777px;
background:url(../images/search.png) no-repeat;
border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
border-bottom: 0px;
border-radius: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
cursor: pointer;
-webkit-transition: all 150ms ease-out 0s;
-moz-transition: all 150ms ease-out 0s;
-ms-transition: all 150ms ease-out 0s;
transition: all 150ms ease-out 0s;
}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #000;
	 border-radius:50px; padding:8px 40px;
	
}

.pl-145 { padding-left:100px;}

.navbar2 { padding-bottom:0.3rem !important; padding-top:0.3rem !important;}


.main-container, .main-container-lg, .main-container-md, .main-container-sm, .main-container-xl {
    max-width: 1000px;margin: 0px auto;
}




/*/===========================/*/


.side-section {
    position: relative;
    z-index: 9999999;
    background-color: #FFD502;
    width: 100%;
}

.shop-box { background:#05061F; border-radius:32px; text-align:center; min-height:235px; padding-top:35px;}
.shop-box h5{  text-align:center; font-size:18px; color:#fff; font-family:'nunitobold';}
.walk-section {}
.walk-section h2{ font-size:50px;font-family: 'helveticabold'; color:#05061F; padding-top:60px;}



.get-heading {}
.get-heading h2{ font-size:45px; color:#05061F; font-family:'helveticabold'; margin-bottom:80px;}
.get-heading p{ font-size:30px; color:#05061F; font-family:'nunitolight'; padding:0px; margin:0px;}

.btn-blue { background:#05061F; color:#fff; font-size:18px;font-family:'nunitobold';padding: 13px 50px !important;}
.btn-blue:hover { background:#05061F; color:#fff; }

.btn-out {  color:#05061F; font-size:18px;font-family:'nunitobold';padding: 13px 50px !important;}
.btn-out:hover { background:#05061F; color:#fff; }

.text12 {font-size:12px; font-family:'nunitobold'; color:#6E6F94;}
.text14 {font-size:14px; font-family:'nunitobold'; color:#6E6F94;}
.text14 a{font-size:14px; font-family:'nunitobold'; color:#6E6F94;}
.text20 {font-size:20px; font-family:'helveticabold'; color:#05061F;}
.text18 {font-size:18px; font-family:'helveticabold'; color:#05061F;}
.text16L {font-size:16px; font-family:'nunitolight'; color:#05061F;}
.text16N {font-size:16px; font-family:'nunitoregular'; color:#6E6F94;}
.text18R {font-size:18px; font-family:'nunitoregular'; color:#05061F;}
.all-text {font-size:16px; font-family:'nunitoregular'; color:#6E6F94;}
.all-text a {font-size:16px; font-family:'nunitobold'; color:#05061F;}

.text24 {font-size:24px; font-family:'helveticabold'; color:#05061F;}

.text12 {font-size:12px; font-family:'nunitosemibold'; color:#6E6F94;}

.text14H {font-size:14px; font-family:'helveticaregular'; color:#6E6F94;}
.text28 {font-size:28px; font-family:'nunitobold'; color:#05061F;}


.shop-slider { font-family: ''; padding:150px 35px 35px; cursor:pointer;}
.shop-slider h2{ font-size:40px; color:#05061F; font-family:'helveticabold';}
.shop-slider p{ font-size:18px; color:#FAD649; font-family:'helveticabold'; padding:10px 0px; margin:0px;}

.timothy { background:#FFD4D4; font-size:18px; color:#05061F;font-family:'nunitobold' !important; padding:10px 50px;}
.red-btn {background:#FF214A; font-size:18px; color:#fff;font-family:'nunitobold' !important; padding:10px 50px;}

.get-box { background:url(../images/icon/Group-278.png) no-repeat;  height:541px; width:536px; padding:20px;}
.get-box2 { background:url(../images/icon/Group-279.png) no-repeat;  height:541px; width:536px; padding:20px;}
.get-box3 { background:url(../images/icon/Group-280.png) no-repeat;  height:541px; width:1095px;}

.carousel-box { width:520px; display:block; top:25%;}
.carousel-box h2{ font-size:48px;font-family:'helveticabold'; color:#fff;}
.carousel-box p{ font-size:24px;font-family: 'nunitosemibold'; color:#fff; padding-bottom:50px;}
.carousel-heading ul{ font-size:24px;font-family: 'nunitosemibold'; color:#fff; padding-bottom:50px; width:100%;}
.carousel-heading li{ width:33%; display:inline-block; color:#FF214A; text-align:center;}

.main-menu { color:#05061F;font-family:'nunitobold';}
.main-menu a{ color:#05061F;font-family:'nunitobold'; text-decoration:none; line-height:30px; padding-left:10px; padding-top:10px;}

.breadcrumb .breadcrumb-item a{ color:#6E6F94; text-decoration:none;}


/*/=============sidebar============/*/

.sidebar {background:#F9F9FF !important; box-shadow: 
        inset 0px 15px 30px -10px #e3e3e3,
        inset 0px 0px 8px -10px #e3e3e3; }


.sidebar ul li a{ color:#05061F;}


.sidebar-head {padding: 2rem 1rem;}


/*/=============sub-categories============/*/
.full-body { background:#F9F9FF; 
   
   box-shadow: 
        inset 0px 15px 30px -10px #e3e3e3,
        inset 0px 0px 8px -10px #e3e3e3; 
   }
   
   .full-body2 { background:#ffffff; 
   
   box-shadow: 
        inset 0px 15px 30px -10px #e3e3e3,
        inset 0px 0px 8px -10px #e3e3e3; 
   }


a:hover .categories-box h5 {text-decoration:none; cursor:pointer  }
.categories-box { background:#fff; border-radius:35px; box-shadow: 0 0.1rem 1rem rgba(0, 0, 0.15, 0.15) !important; text-align:center; min-height:250px; cursor:pointer}
.categories-box h5 { background:#fff; border-radius:35px; font-size:17px; color:#05061F; font-family: 'nunitobold'; }

a:hover .categories-box { box-shadow: 0 0.1rem 1rem rgba(0, 0, 0.33, 0.33) !important; text-decoration:none;cursor:pointer }


/*/===========my-account================/*/

.table-box { background:#fff; border-radius:35px; box-shadow: 0 0.1rem 1rem rgba(0, 0, 0.15, 0.15) !important; padding:20px 0px;}
.table-box2 { background:#fff; border-radius:35px; border:1px solid #6E6F94; padding:15px 0px;}

/*/===========shop-all -parent-categories================/*/


.list-box { background:#fff; border-radius:15px; box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0.11, 0.11) !important; position:relative; }
.list-box p { background:#fff;  font-size:16px; color:#05061F; font-family: 'nunitosemibold'; }
.text-green { color:#02D184 !important; font-size:12px !important; font-family:'nunitoregular'; padding-left: 26px;}
.text-light-gray {color:#6E6F94 !important; font-size:12px !important; font-family:'nunitoregular';}

.price-drop{ background:#FF214A; border-top-right-radius:20px;border-bottom-right-radius:20px; color:#FFFFFF; font-size:12px; position:absolute; top:25px; left:0px; height:25px; width:95px; text-align:center; line-height:24px; font-size:16px;font-family:'nunitoregular';}

.bookmark {background:#FF214A; border-top-right-radius:20px;border-bottom-right-radius:20px; color:#FFFFFF; font-size:12px; position:absolute; top:15px; right:10px; height:25px; width:25px; z-index:999; text-align:center; line-height:24px; font-size:16px;font-family:'nunitoregular'; background:url(../images/teg.png) no-repeat;}

.text-black { color:#05061F !important;font-size:12px !important; font-family:'nunitoregular'; }

.pb-4-5 {
    padding-bottom: 2rem !important;
}

.page-item:not(:first-child) .page-link {
    margin-left: 5px;
}
.page-item:not(:first-child) .page-link {
    margin-left: 5px;border:0px;
    border-radius: 6px;box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0.11, 0.11) !important;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #05061F; border:0px;
}
.page-link {
    padding: .6rem 1.1rem;
}

.next { border-radius:80px !important; margin-left:40px !important; padding-left:40px;padding-right:40px; color:#000; border:1px solid #6E6F94 !important;}
.pre {border-radius:80px !important; margin-right:40px !important; padding-left:40px;padding-right:40px; color:#000; border:1px solid #6E6F94 !important;}
.page-link { color:#05061F;}
/*/=============================sub-sub-categories=====================/*/
.top-btn {position: relative;
top: 80px;}

/*/=========================Thank-You=====================/*/

.thank-box {
    background: #FFD4D4;
    border-radius: 35px;
}

.help-btn { background:#fff; border:1px solid #333; border-radius:13px; font-size:18px; padding:8px 40px;}
/*/=====================Lost-your-password=========================/*/
.lost-box { background:#CAFFEB; border-radius:35px;}

.form-control-2 {
    border:1px solid #6E6F94 !important; border-radius:10px;
}
.p-6 {
  padding: 3.5rem !important;
}
.heading h2{ font-family: 'helveticabold'; font-size:35px; color:#05061F; }
.heading h5{ font-family: 'helveticabold'; font-size:20px; color:#05061F; padding:20px 0px;}
.heading p{ font-family: 'nunitosemibold'; font-size:20px; color:#05061F; padding:20px 0px;}





.card-box { border-radius:32px; text-align:center; cursor:pointer;
transition:transform .8s, filter 1.5s ease-in-out;
box-shadow:0 0 15px #eee;
	align-content:space-between;
}

.card-box:hover {
	transform:scale(1.1);
	background-color:#fff;
	box-shadow:0 2px 5px 0 rgba(0, 0, 0, .08), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.form-check-input:checked {
    background-color: #05061F;
    border-color: #05061F;
}

/*/=====================Footer=========================/*/

.footer { background:#05061F; display:inline-block;}


.footer h5 { color:#6E6F94; font-weight:bold; font-size:14px; font-family:'nunitoregular';
}
.footer ul {
    list-style: none;
    list-style-position: inside;
    padding: 0px;
}
.footer li {
    list-style: none;
    list-style-position: inside;
    font-family:'nunitoregular';
    font-size: 16px;
}
.footer li a {
    list-style: none;
    list-style-position: inside;
    color: #fff;
	line-height:32px;
    display: block;
    text-decoration: none;
	
	font-size:16px;
}
.footer li a:hover {
    color: #FE9900;
   
}

.nb-bold {font-family:'nunitobold';}

.sub-nav {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.footer__sub-nav ul li {}
.footer__sub-nav li {
    padding-left: .75rem;
    padding-right: .75rem;font-family:'helveticaregular';font-size:16px;}
	
.securely-box { }
.securely-box span{ width:auto; margin:0px 5px; color:#8789BC; font-size:14px;font-family:'nunitosemibold';} 

.shopping-box { background:#3CCE98; padding:10px; text-align:center; }
.delivery-box { background:#3DDCA1; padding:10px;text-align:center;}	
.pickup-box { background:#51F3B7; padding:10px;text-align:center;}	
.returns-box { background:#73F7C6; padding:10px;text-align:center;}	
.customer-care-box { background:#8EFAD2; padding:10px;text-align:center;}	
.focused-box { background:#C0FEE7; padding:10px;text-align:center;}

.report { color:#8789BC; font-size:16px; font-family:'nunitoregular';}	
.report a{ color:#8789BC; font-size:16px; font-family:'nunitoregular'; text-decoration:none;}

.copyright  { color:#8789BC; font-size:16px; font-family: 'helveticaregular';}
.cookies { background:#68BDC6; text-align:center;display: inline-block;
width: 100%;}
.cookies p{text-align:center; color:#FFFFFF; font-size:17px; padding:10px 0px; margin-bottom:0px;}